<h2>All Press Releases</h2>

<%= link_to 'New Press Release', new_press_release_path, :class => "admin new" %>

<table>
  <tr>
    <th></th>
    <th>Date</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @press_releases.each do |press_release| %>
  <tr>
  	<td><img src="<%= press_release.brand.icon %>" height="75" width="75" /></td>
    <td><%= press_release.date.strftime("%B %d %Y") %></td>
    <td><%= press_release.title %></td>
    <td><%= press_release.content.truncate(150) %></td>
    <td><%= link_to 'Show', press_release, :class => "admin" %></td>
    <td><%= link_to 'Edit', edit_press_release_path(press_release), :class => "admin" %></td>
    <td><%= link_to 'Delete', press_release, :confirm => 'Are you sure?', :method => :delete, :class => "admin" %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Press Release', new_press_release_path, :class => "admin new" %>
