<h2>Press Release</h2>

<p id="notice"><%= notice %></p>

<h1><%= @press_release.title %></h1>



<em><%= @press_release.date.strftime("%B %d %Y") %></em>
<p>
  <%= @press_release.content %>
</p>

<p>
<%= link_to 'Edit', edit_press_release_path(@press_release), :class => "admin" %>
<%= link_to 'Delete', @press_release, :confirm => 'Are you sure?', :method => :delete, :class => "admin" %>
</p>

<div class="clear"></div>

<div class="span-8">
	<h3>Contact Info</h3>
	<p>
		<%= render(@press_release.user) %>
	</p>
</div>

<div class="span-8 push-1 last">
	<h3>Related Presskits</h3>
	<p>
	  <%= link_to "Explore #{@press_release.brand.name} Presskit", @press_release.brand %>
	</p>
	
	<p>
	  <b>Tags:</b>
	  <%= join_tags(@press_release) %>
	</p>
</div>
<!--
<h2>Comments</h2>
<%= render @press_release.comments %>


<h2>Add a comment:</h2>
<%= render "comments/form" %>
-->
<br />


