<% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |user_form| %>
  
  
  <div class="field">
    <%= user_form.label :name %>
    <%= user_form.text_field :name %>
  </div>
  
  <div class="field">
    <%= user_form.label :title %>
    <%= user_form.text_field :title %>
  </div>
  
  <div class="field">
    <%= user_form.label :email %>
    <%= user_form.text_field :email %>
  </div>
  
   <% # if user_form.object.nil? || user_form.object.new_record? %>
	<div class="field">
	    <%= user_form.label :password %>
	    <%= user_form.text_field :password, :type => "password" %>
	  </div>
	  
	  <div class="field">
	    <%= user_form.label :password_confirmation %>
	    <%= user_form.text_field :password_confirmation, :type => "password" %>
	  </div>
  <% # end %>	
  
  
  
  
  <br />
  
  <div class="actions">
    <%= user_form.submit %>
  </div>
<% end %>
