<%= form_for(@user) do |user_form| %>
  
  
  <div class="field">
    <%= user_form.label :name %><br />
    <%= user_form.text_field :name %>
  </div>
  
  <div class="field">
    <%= user_form.label :email %><br />
    <%= user_form.text_field :email %>
  </div>
  
  <div class="field">
    <%= user_form.label :password %><br />
    <%= user_form.text_field :password, :type => "password" %>
  </div>
  
  <div class="field">
    <%= user_form.label :password_confirmation %><br />
    <%= user_form.text_field :password_confirmation, :type => "password" %>
  </div>
  
  
  
  <br />
  
  <div class="actions">
    <%= user_form.submit %>
  </div>
<% end %>
