

<%= form_for(@user) do |user_form| %>
  
  <%= render 'shared/error_messages', :object => user_form.object %>
  
  <div class="field">
    <%= user_form.label :name %>
    <%= user_form.text_field :name %>
  </div>
  
  <div class="field">
    <%= user_form.label :title %>
    <%= user_form.text_field :title %>
  </div>
  
  <div class="field">
    <%= user_form.label :email %>
    <%= user_form.text_field :email %>
  </div>
  
   <% # if user_form.object.nil? || user_form.object.new_record? %>
	<div class="field">
	    <%= user_form.label :password %>
	    <%= user_form.password_field :password %>
	  </div>
	  
	  <div class="field">
	    <%= user_form.label :password_confirmation %>
	    <%= user_form.password_field :password_confirmation %>
	  </div>
  <% # end %>	
  
  
  
  
  <br />
  
  <div class="actions">
    <%= user_form.submit %>
  </div>
<% end %>
