
	<strong><%= user.name %></strong><br />
	<em><%= user.title %></em><br />
	<%= mail_to user.email, user.email %>


<% if @users %>
	<p>
		<%= link_to 'Edit', edit_user_path(user), :class => "admin" %> 
		<%= link_to 'Delete', user,
	  	:confirm => 'Are you sure?',
	  	:method => :delete, 
	  	:class => "admin" %>
	</p>
<% end %>
