<h2>User Profile</h2>
<p id="notice"><%= notice %></p>

<p>
<strong><%= @user.name %></strong><br />
<em><%= @user.title %></em><br />
<%= mail_to @user.email, @user.email %>
</p>

<%= link_to 'Back', users_path, :class => "admin" %>