

<div class="span-11" id="latest_posts">
	<h2>Latest Press Releases</h2>
	<table>
	<% Post.latest_posts.each do |post| %>
		<tr>
		<td><img src="<%= post.brand.icon %>" height="75" width="75" /></td>
		<td>	
			<i><%= post.date.strftime("%B %d %Y")  %></i>
			<strong><%= link_to post.title.truncate(150), post %></strong>
			<%= link_to 'Edit', edit_post_path(post) %>
	    	<%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
		</td>
	<% end %>
	</table>
	<%= link_to "All Press Releases", posts_path %> 
</div>	
	
<div class="span-6 last" id="contact_information">
	<h6>Contact Info</h6>
	<p>
		For press inquiries, contact:<br />
		<% User.marketing_user.each do |marketing| %>
			<strong><%= marketing.name %></strong>
			<a href="mailto:<%= marketing.email %>"><%= marketing.email %></a>
		<% end %>
	</p>
	
	<p>
		<strong>CWD Headquarters</strong><br />
		4080 Montrose Road<br />
		Niagara Falls, ON<br />
		Canada, L2H 1J9
	</p>
	
	
</div>




