

<div class="span-11" id="latest_press_releases">
	<h2>Latest Press Releases</h2>
	<table>
	<% PressRelease.latest_press_releases.each do |press_release| %>
		<tr>
		<!-- What's the best method to make this image a link??  -->
		<td><img src="<%= press_release.brand.icon %>" height="75" width="75" /></td>
		<td>	
			<em><%= press_release.date.strftime("%B %d %Y")  %></em><br />
			<%= link_to press_release.title.truncate(150), press_release %>
			<br />
			<%= link_to 'Edit', edit_press_release_path(press_release), :class => "admin" %> 
	    	<%= link_to 'Delete', press_release, :confirm => 'Are you sure?', :method => :delete, :class => "admin" %>
		</td>
	<% end %>
	</table>
	
	<strong class="fr"><%= link_to "All Press Releases", press_releases_path %></strong> 
	
	<div class="clear"></div>
	
	<h2>Latest News</h2>
	<em>News articles will eventually be going here</em>
</div>	
	
<div class="span-6 last" id="contact_information">
	<h6>Contact Info</h6>
	<p>
		For press inquiries, contact:<br />
		<% User.marketing_user.each do |marketing| %>
			<strong><%= marketing.name %></strong>
			<a href="mailto:<%= marketing.email %>"><%= marketing.email %></a>
		<% end %>
	</p>
	
	<p>
		<strong>CWD Headquarters</strong><br />
		4080 Montrose Road<br />
		Niagara Falls, ON<br />
		Canada, L2H 1J9
	</p>
	
	
</div>




