<h1>All PR Articles</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Content</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.date.strftime("%B %d %Y") %></td>
    <td><%= post.title %></td>
    <td><%= post.content.truncate(150) %></td>
    <td><%= join_tags(post) %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Post', new_post_path %>
<%= link_to 'PR Home', '/' %>