<h2>Press Release</h2>

<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>

<em><%= @post.date.strftime("%B %d %Y") %></em>
<p>
  <%= @post.content %>
</p>

<div class="span-8">
	<h3>Contact Info</h3>
</div>

<div class="span-8 push-1 last">
	<h3>Presskits</h3>
	<p>
	  <%= link_to "Explore #{@post.brand.name} Presskit", @post.brand %>
	</p>
	
	<p>
	  <b>Tags:</b>
	  <%= join_tags(@post) %>
	</p>
</div>
<!--
<h2>Comments</h2>
<%= render @post.comments %>


<h2>Add a comment:</h2>
<%= render "comments/form" %>
-->
<br />

<%= link_to 'Edit', edit_post_path(@post), :class => "admin" %>
<%= link_to 'Back', posts_path, :class => "admin" %>
