
<%= form_for(@brand) do |brand_form| %>
  <% if @brand.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this presskit from being saved:</h2>
    <ul>
    <% @brand.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  

  <div class="field">
    <%= brand_form.label :name %><br />
    <%= brand_form.text_field :name %>
  </div>
  
  <div class="field">
    <%= brand_form.label :parent %><br />
    <%= select(:brand, :parent, Brand.all.collect {|p| [ p.name, p.name ] }, {:include_blank => 'None'}) %>
  </div>
  
  <div class="field">
    <%= brand_form.label :icon %><br />
    <%= brand_form.text_field :icon %>
  </div>
  
  <div class="actions">
    <%= brand_form.submit %>
  </div>
<% end %>
