
<%= form_for(@brand) do |brand_form| %>

  <%= render 'shared/error_messages', :object => brand_form.object %> 

  <div class="field">
    <%= brand_form.label :name %>
    <%= brand_form.text_field :name %>
  </div>
  
  <div class="field">
    <%= brand_form.label :parent %>
    <%= select(:brand, :parent, Brand.all.collect {|p| [ p.name, p.name ] }, {:include_blank => 'None'}) %>
  </div>

  <%- if @brand.divison? && ( !brand_form.object.nil? && !brand_form.object.new_record? ) -%>
    <div class="field">
      <%= brand_form.label :sort_order %>
      <%= brand_form.text_field :sort_order %>
    </div>
  <% end -%>
  
  <div class="field">
    <%= brand_form.label :icon %>
    <%= brand_form.text_field :icon %>
  </div>
  
  <div class="field">
    <%= brand_form.label :url %>
    <%= brand_form.text_field :url %>
  </div>
  
  <div class="actions">
    <%= brand_form.submit :value => 'Save Brand Presskit' %>
  </div>
<% end %>
