<div id="presskit">
	<p id="notice"><%= notice %></p>
	
	
	<img src="<%= @brand.icon %>" class="fl" />
	
	<h1><span>Presskits: </span><%= @brand.name %></h1>
	
	<%= link_to 'Edit', edit_brand_path(@brand), :class => "admin" %>
	<%= link_to 'Delete', @brand, :confirm => 'Are you sure?', :method => :delete, :class => "admin" %>
	
	<br />
	<div class="span-8">
		<h2>Information</h2>
		<h3>Recent Press Releases</h3>
		<ul>
			<% if @brand.press_releases.latest_press_releases.exists? %>
				<% @brand.press_releases.latest_press_releases.each do |press_release| %>
					<li>	
						<%= render(press_release) %>						
					</li>
				<% end %>			
			<% else %>
				<li><em>No Press Releases</em></li>
			<% end %>
		</ul>
		
		<h3>More Information</h3>		
		<p>
			<%= link_to "View #{@brand.name}'s Website", @brand.url, :target => "_blank" %>
		</p>
	</div>
	
	<div class="span-8 push-1 last">
		<h2>Images</h2>
		<h3>Brand Images</h3>
		<em>Images will be going here</em>
	</div>
	
	
	<% @brand.categories.each_with_index do |category, index| %>
		<% if category.products.exists? %>
			<% if index.even? %>
				<div class="clear"></div>
				<div class="span-8">
			<% else %>
				<div class="span-8 push-1 last">
			<% end%>
				<%= render category %>
			</div>
		<% end %>
	<% end %>
	
	<% if @brand.products.without_categories.exists? %>
		<% if @brand.categories.count.odd? %>
			<div class="span-8 push-1 last">
		<% else %>
			<div class="span-8 last">
		<% end %>
			<h2><% if @brand.categories.exists? %>Other<% else %>Products<% end %> <span class="expanded">[+]</span></h2>
			<%= render @brand.products.without_categories %>
		</div>
	<% end %>
	
	<div class="clear"></div>
	
	<div class="span-8">
		<h2>Add a Category</h2>
		<%= render "categories/form" %>
		<%= link_to 'Manage Categories', brand_categories_path(@brand), :class => "admin" %>
	</div>
	
	<div class="span-8 push-1 last">
		<h2>Add a Product</h2>
		<%= render "products/form" %>
		<%= link_to 'Manage Products', brand_products_path(@brand), :class => "admin" %>
	</div>
</div> <!-- presskit -->
	

