<div id="presskit">
	<p id="notice"><%= notice %></p>
	
	
	<img src="<%= @brand.icon %>" class="fl" />
	
	<h1><span>Presskits: </span><%= @brand.name %></h1>
	
	<%= link_to 'Edit', edit_brand_path(@brand), :class => "admin" %>
	<%= link_to 'Back', brands_path, :class => "admin" %>
	
	<br />
	<div class="span-8">
		<h2>Information</h2>
		<h3>Recent Press Releases</h3>
		<ul>
			<% if @brand.press_releases.latest_press_releases.exists? %>
				<% @brand.press_releases.latest_press_releases.each do |press_release| %>
					<li>	
						
						<em><%= press_release.date.strftime("%B %d %Y")  %></em><br />
						<%= link_to press_release.title.truncate(150), press_release %><br />
						<%= link_to 'Edit', edit_press_release_path(press_release), :class => "admin" %>
				    	<%= link_to 'Delete', press_release, :confirm => 'Are you sure?', :method => :delete, :class => "admin" %>
						
					</li>
				<% end %>			
			<% else %>
				<li><em>No Press Releases</em></li>
			<% end %>
		</ul>
		
		<h3>More Information</h3>		
		<%= link_to "View #{@brand.name}'s Website", @brand.url, :target => "_blank" %>
		
	</div>
	
	<div class="span-8 push-1 last">
		<h2>Images</h2>
		<h3>Brand Images</h3>
		<em>Images will be going here</em>
	</div>
	
	<div class="clear"></div>
	
	<%= render @brand.categories %>
	
	<% if @brand.products.without_categories.exists? %>
		<div class="span-8 last">
		<h2><% if @brand.categories.exists? %>Other<% else %>Products<% end %> <span class="expanded">[+]</span></h2>
		<%= render @brand.products.without_categories %>
		</div>
	<% end %>
	
	<div class="clear"></div>
	
	<div class="span-8">
		<h2>Add a Category</h2>
		<%= render "categories/form" %>
		<%= link_to 'Manage Categories', brand_categories_path(@brand), :class => "admin" %>
	</div>
	
	<div class="span-8 push-1 last">
		<h2>Add a Product</h2>
		<%= render "products/form" %>
		<%= link_to 'Manage Products', brand_products_path(@brand), :class => "admin" %>
	</div>
</div> <!-- presskit -->
	

