<div id="presskit">
	
	<img src="<%= @brand.icon %>" class="fl" />
	
	<h1><span>Presskits: </span><%= @brand.name %></h1>
	
	<% if signed_in? %>
		<%= link_to 'Edit', edit_brand_path(@brand), :class => "admin" %>
		<%= link_to 'Delete', @brand, :confirm => 'Are you sure?', :method => :delete, :class => "admin" %>
	<% end %>
	
	<br />
	<div class="span-8">
		<h2>Information</h2>
		<h3>Recent Press Releases</h3>
		<ul>
			<% if @brand.press_releases.exists? %>
        		<%= render @press_releases %>
			<% else %>
				<li><em>No Press Releases</em></li>
			<% end %>
			<%= will_paginate @press_releases, :align => "center" %>
		</ul>
		
		<h3>Awards</h3>		
		<p>
			<em>Awards will be shown here ONLY if they exist</em>
		</p>
		
		<h3>More Information</h3>		
		<p>
			<%= link_to "View #{@brand.name}'s Website", @brand.url, :target => "_blank" %>
		</p>
	</div>
	
	<div class="span-8 push-1 last">
		<h2>Images</h2>
		<h3>Brand Images</h3>
		<%= render @brand.images %>
		
		<%- if @brand.images.empty? -%>
			<em>No Images Available</em>
		<%- end -%>
		
		<br class="clear" />
		
		<% if signed_in? %>			
			<%= link_to 'Manage Images', brand_images_path(@brand), :class => "admin" %>
		<% end %>
	</div>
	
	
	<% @brand.categories_with_products.each do |category| %>
		<div class="span-8 <%= cycle('clear', 'push-1 last') %>">
			<%= render category %>
		</div>
	<% end %>
	
	<% if @brand.products.without_categories.exists? %>
		<div class="span-8 <%= cycle('clear', 'push-1 last') %>">
			<h2><%= @brand.categories.exists? ? 'Other' : 'Products' %> <span class="expanded">[+]</span></h2>
			<%= render @brand.products.without_categories %>
		</div>
	<% end %>
	
	<div class="clear"></div>
	
	<% if signed_in? %>
		<div class="span-8">
			<h2><strong>Add a Category</strong></h2>
			<%= render "categories/form" %>
			<%= link_to 'Manage Categories', brand_categories_path(@brand), :class => "admin" %>
		</div>
		
		<div class="span-8 push-1 last">
			<h2><strong>Add a Product</strong></h2>
			<%= render "products/form" %>
			<%= link_to 'Manage Products', brand_products_path(@brand), :class => "admin" %>
		</div>
	<% end %>
</div> <!-- presskit -->
	

