<%= form_for([@brand_presskit, @product]) do |product_form| %>
  
  
  <div class="field">
    <%= product_form.label :model %><br />
    <%= product_form.text_field :model %>
  </div>
  
  <div class="field">
    <%= product_form.label :title %><br />
    <%= product_form.text_field :title %>
  </div>
  
  <div class="field">
    <%= product_form.label :category_id %><br />
    <%= select(:product, :category_id, @brand_presskit.categories.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'}) %>
  </div>
  
  <br />
  
  <div class="actions">
    <%= product_form.submit %>
  </div>
<% end %>
