<%= form_for([@brand, @product]) do |product_form| %>
  
  <%= render 'shared/error_messages', :object => product_form.object %>
  
  <div class="field">
    <%= product_form.label :model %>
    <%= product_form.text_field :model %>
  </div>
  
  <div class="field">
    <%= product_form.label :title %>
    <%= product_form.text_field :title %>
  </div>
  
  <div class="field">
    <%= product_form.label :category_id %>
    <%= select(:product, :category_id, @brand.categories.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'}) %>
  </div>
  
  <div class="field">
    <%= product_form.label :url %>
    <%= product_form.text_field :url %>
  </div>
  
  <div class="actions">
    <%= product_form.submit :value => 'Save Product Presskit' %>
  </div>
<% end %>
