

<p>
  <b>Model:</b>
  <%= product.model %>
</p>
<p>
  <b>Title:</b>
  <%= product.title %>
</p>


<p>
	<%= link_to 'Show', [product.brand_presskit, product] %> | 
	<%= link_to 'Edit', edit_brand_presskit_product_path(@brand_presskit, product) %> | 
	<%= link_to 'Delete', [product.brand_presskit, product],
  	:confirm => 'Are you sure?',
  	:method => :delete %>
</p>

<br />