<div id="presskit">
	<p id="notice"><%= notice %></p>
	
	
	<img src="<%= @brand.icon %>" class="fl" />
	
	<h1><span>Presskits: </span><%= @brand.name %>'s <%= @product.model %></h1>
	
	<% if signed_in? %>
		<%= link_to 'Edit', edit_brand_product_path(@brand, @product), :class => "admin" %>
		<%= link_to 'Delete', [@brand, @product],
		  	:confirm => 'Are you sure?',
		  	:method => :delete, 
		  	:class => "admin" %>
	<% end %>
	
	<br />
	<div class="span-8">
		<h2>Information</h2>
		<h3>Recent Press Releases</h3>
		<ul>
			
			<% @press_releases.each do |press_release| %>
				<li>	
					<%= render(press_release) %>
				</li>
			<% end %>			
			<% if @brand.press_releases.latest_press_releases.empty? %>
				<li><em>No Press Releases</em></li>
			<% end %>
			<%= will_paginate @press_releases, :align => "center" %>
		</ul>
		
		<h3>More Information</h3>		
		<%= product_website_link(@product, :new_window => true) %>

	</div>
	
	<div class="span-8 push-1 last">
		<h2>Images</h2>
		<h3>Product Images</h3>
		<p><em>Images will be going here</em></p>
		
		<h3>Brand Images</h3>
		<em>Brand images will be going here</em><br />
		<em>Pulled from <%= @brand.name %></em>
	</div>
	

</div> <!-- presskit -->