

<%= form_for [@presskit, @image], :html => {:multipart => true } do |image_form| %>
  
  <%= render 'shared/error_messages', :object => image_form.object %>
  
  
  
  <div class="field">
    <%= image_form.label :name %>
    <%= image_form.text_field :name %>
  </div>  
  
  <div class="field">
  	<%= image_form.label :asset, 'Image' %>
    <%= image_form.file_field :asset %>
  </div>  
  
  <div class="field">
  	<%= image_form.label :thumb, 'Thumb (Optional)' %>
    <%= image_form.file_field :thumb %>
  </div>
  
  <div class="actions">
    <%= image_form.submit %>
  </div>
<% end %>