<p class="clear">
	<% if image.thumb_url.nil? %>
		<a href="<%= image.asset_url.to_s %>" class="image_thumb"><%= image_tag image.asset_url(:thumbnail).to_s, :height => '80' %></a>
  	<% else %>
  		<a href="<%= image.asset_url.to_s %>" class="image_thumb"><%= image_tag image.thumb_url.to_s, :height => '80' %></a>
  	<% end %>
  	<br />
  	<b><%= link_to image.name, image.asset_url.to_s %></b><br />
  	<em><%= image.asset_info["%wx%h %e"] %> <%= (image.asset_info[:colorspace]).gsub('DirectClass', '') %><br /><%= (image.asset_info[:size] * 0.0009765625).to_i %>KB</em>
</p>