<h2>All <%= product? ? @presskit.model : @presskit.name %> Images</h2>


<table>
	<% @images.each do |image| %>
	  <tr>
	    <td><%= render(image) %></td>
	    
	    <% if signed_in? %>
	    <td>
	    	<% if product? %>
				<%= link_to 'Edit', edit_product_image_path(@presskit, image), :class => 'admin' %>
			<% else %>
				<%= link_to 'Edit', edit_brand_image_path(@presskit, image), :class => 'admin' %>
			<% end %>
				
			<%= link_to 'Delete', [@presskit, image],
			  	:confirm => 'Are you sure?',
			  	:method => :delete, 
			  	:class => 'admin' %>
		</td>
		<% end %>
	  </tr>
	<% end %>
</table>	



<br />

<% if signed_in? %>
	<% if product? %>
		<%= link_to "New #{@presskit.model} Image", new_product_image_path(@presskit, @image), :class => "admin new" %>
	<% else %>
		<%= link_to "New #{@presskit.name} Image", new_brand_image_path(@presskit, @image), :class => "admin new" %>
	<% end %>
	
<% end %>
