<div id="side_nav">
	<ul>
		<li><h5>Media Resources</h5></li>
		<li><%= current_page?(:root) ? 'News & PR Home' : ( link_to 'News & PR Home', :root ) %><img src="http://cwdlimited.com/images/news/brands/icons/cwd-black-icon.png" height="33" width="33" class="fr" /></li>
		<li><%= current_page?(brands_path) ? 'PressKits' : ( link_to 'PressKits', brands_path ) %><img src="http://cwdlimited.com/images/news/brands/icons/cwd-black-icon.png" height="33" width="33" class="fr" /></li>
		<li><%= current_page?(press_releases_path) ? 'All Press Releases' : ( link_to 'All Press Releases', press_releases_path ) %><img src="http://cwdlimited.com/images/news/brands/icons/cwd-black-icon.png" height="33" width="33" class="fr" /></li> 
	</ul>
	<ul>
	<li><h5>Media by Brand</h5></li>
	<! -- what's the best way to sort this by name?? -->	
	<% Brand.order('name').all.each do |brand| %>
		<li>
		<%= current_page?(brand) ? brand.name : (link_to brand.name, brand) %>
		<img src="<%= brand.icon %>" height="33" width="33" class="fr" />
		</li>
	<% end %>
	</ul>
</div>