<!DOCTYPE html>
<html>
<head>
  <title><%= page_title "News & PR" %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
      <%= render 'layouts/header' %>
      <div class="shadow">
      	<div id="banner" class="short">
          <img id="bannerImage" class="fl" src="http://cwdlimited.com/images/brands/banner.jpg" />
          <h1>News & PR</h1>
        </div>
        <div class="clear"></div>
        <div id="content">
        	<div class="span-6">
        		<%= render 'layouts/side_nav' %>
			</div>
			
			<div class="span-17 last">	
				<span class="fr">
					<%= link_to 'Manage Users', '/users', :class => "admin" %>
					<%= link_to 'Logout', '#', :class => "admin" %>
				</span>	
					
				<%= yield %>
			</div>
			<div class="clear"></div>
		</div>
	  </div>
	</div>
	
	<%= render 'layouts/footer' %>
</body>
</html>
